<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/meta.html" %}
        {% include "components/styles.html" %}
        {% include "components/scripts.html" %}
        {% include "components/structured-data.html" %}
    </head>
    <body>
        <div class="terminal-window">
            <div class="terminal-header">
                <div class="terminal-buttons">
                    <div class="terminal-button close"></div>
                    <div class="terminal-button minimize"></div>
                    <div class="terminal-button maximize"></div>
                </div>
                <div class="terminal-title">nunomaduro@website:~</div>
            </div>
            <div class="terminal-content">
                <div class="terminal-nav">
                    {% block navigation %}
                        {% include "components/navigation.html" %}
                    {% endblock %}
                </div>
                <div class="terminal-page">
                    {% block page %}
                    
                    {% endblock %}
                </div>
                <div class="cursor"></div>
            </div>
        </div>
    </body>
</html>
