{% extends "layouts/main.html" %}

{% block page %}
    <div class="terminal-section">
        <article class="prose prose-neutral">
            <img src="https://nunomaduro.com/preview.jpg" alt="Nuno Maduro" />
            
            <p class="text-sm text-center">
                <a href="https://youtube.com/nunomaduro" target="_blank" rel="noopener">youtube 22k</a> ·
                <a href="https://twitter.com/enunomaduro" target="_blank" rel="noopener">x 62k</a> ·
                <a href="https://twitch.tv/nunomaduro" target="_blank" rel="noopener">twitch 3k</a> ·
                <a href="https://instagram.com/enunomaduro" target="_blank" rel="noopener">instagram 2k</a> ·
                <a href="https://tiktok.com/@enunomaduro" target="_blank" rel="noopener">tiktok 3k</a>
            </p>
            
            <p>i'm nuno, staff software eng at <a href="https://laravel.com" target="_blank" rel="noopener">laravel</a>, <a href="/talks">speaker</a> & content creator, and open-source contributor. i made tools like <a href="https://pestphp.com" target="_blank" rel="noopener">pest</a>, <a href="https://github.com/larastan/larastan" target="_blank" rel="noopener">larastan</a>, <a href="https://github.com/laravel/pint" target="_blank" rel="noopener">pint</a>, <a href="https://github.com/laravel-zero/laravel-zero" target="_blank" rel="noopener">laravel zero</a>, <a href="https://github.com/openai-php/client" target="_blank" rel="noopener">openai php</a>, <a href="https://github.com/nunomaduro/phpinsights" target="_blank" rel="noopener">php insights</a> and more / with thousands of stars and half a billion downloads shaping the php scene. <span class="text-accent font-bold"> just here to make devs lives easier, fr.</span></p>
            
            <p><strong>want to support my work? visit the <a href="/sponsorships">sponsorships page</a>.</strong></p>
        </article>
    </div>
{% endblock %}
