{% extends "layouts/main.html" %}

{% block page %}
    <div class="terminal-section">
        <article class="prose prose-neutral">
            
            <h3>pest 4: modern browser testing, sharding, visual diffs & more</h3>
            <p><em>laracon us — denver, co, 2025</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/f5gAgwwwwOI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>modern php tooling</h3>
            <p><em>laracon india — 2025</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/cfD7uCWXxZk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>introducing pest 3.0</h3>
            <p><em>laracon us — dallas, 2024</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/RmGpt8Nlj5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>what's new in pest</h3>
            <p><em>laracon au — sydney, 2023</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/595zXXZkoNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>pest 2 updates</h3>
            <p><em>laracon us — nashville, 2023</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/vb02YE2xx44" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>rust for php developers</h3>
            <p><em>php uk conference — london, 2023</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/HfcfQiLhsV4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>the future of pest</h3>
            <p><em>india — ahmedabad, 2023</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/9EGPo_enEc8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h2>past talks</h2>
            
            <h3>introducing pest (2022 version)</h3>
            <p><em>phpday — verona, 2022</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/MqiGA34ZrQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>types in laravel</h3>
            <p><em>laracon online — 2021</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/jObcE58UCB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>laravel's artisan console component</h3>
            <p><em>laracon online — 2021</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/ps9oNo3XA4U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <p><em>also presented at beer and code (brazil) — 2021</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/RljzFWvADSU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>introducing pest (2020 version)</h3>
            <p><em>laracon eu — 2020</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/lEvau6CgqPE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <p><em>also presented at php community summit (brazil) — 2020</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/HZ4bfV24OpE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <p><em>and on freek van der herten's livestream — 2020</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/1c_p4JlMSgQ?start=1800" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>writing effective php</h3>
            <p><em>forum php — france, 2019</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/kvm_OenNgfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <p><em>also presented at php serbia — 2019</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/btwnm5NRsZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <p><em>and at scotland php — 2019</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/0PBa9ThEu_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <p><em>and at tech in porto (portugal) — 2019</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/4vNEIIgvvzQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>scout extended</h3>
            <p><em>laravel fr meetup — france, 2019</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/2Jy_4sL9Iug" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <h3>console applications with laravel zero</h3>
            <p><em>forum php — france, 2018</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/mcUjGjlzOs8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <p><em>also presented at dev day (portugal) — 2018</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Qc_Ae_Ps-zk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <p><em>and at laravel fr meetup — 2018</em></p>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/JWm0NhEzSg0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <hr />
            
            <p>if you're interested in having me speak at your conference or event, please reach out via <a href="mailto:enunomaduro@gmail.com">email</a>.</p>
        </article>
    </div>
{% endblock %}