<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 

<link rel="icon" ype="image/x-icon" href="/public/favicon/public/favicon/favicon.ico">
<link rel="icon" type="image/png" href="/public/favicon/favicon16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/public/favicon/favicon32x32.png" sizes="32x32">
<link rel="icon" type="image/png" sizes="192x192"  href="/public/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="512x512"  href="/public/favicon/android-icon-512x512.png">
<link rel="apple-touch-icon" href="/public/favicon/pple-touch-icon.png" >
