<div class="py-10">
    <div class="h-full flex justify-center space-x-8 text-sm font-medium text-gray">
        <a href="/" class="flex {% if page.id() == "about" %}underline{% endif %}">About</a>
        <a href="/socials" class="flex {% if page.id() == "socials" %}underline{% endif %}">Socials</a>
        <a href="/sponsorships" class="flex {% if page.id() == "sponsorships" %}underline{% endif %}">Sponsorships</a>
        <a href="/talks" class="flex {% if page.id() == "talks" %}underline{% endif %}">Talks</a>
    </div>
</div>
